@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font */
body h1,
h3,
h4,
h5,
h6,
p {
  font-family: "Poppins", sans-serif;
}
/* info color */
.bg-white {
  background-color: white;
}

/* top section */
.top-color {
  color: #21b573;
}
/* button color */
.color-btn-warning {
  background-color: #21b573;
}

/* footer color */
.footer-bg-info {
  background-color: #282531;
}
