/* info color */
.bg-white {
  background-color: white;
}

/* top section */
.top-color {
  color: #21b573;
}
/* button color */
.color-btn-warning {
  background-color: #21b573;
}

/* footer color */
.footer-bg-info {
  background-color: #282531;
}
